*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #4e4e4e;
}

input, button, textarea {
  font-family: inherit;
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*
 |--------------------------------------------------------------------------
 |  Blocks
 |--------------------------------------------------------------------------
 */
/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  opacity: 1;
  -webkit-animation: hide 1s 0.1s ease-out forwards;
  animation: hide 1s 0.1s ease-out forwards;
}
.preloader:after {
  content: "";
  display: inline-block;
  position: fixed;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  -webkit-animation: preloader 1s linear;
  animation: preloader 1s linear;
}

/* Title */
.title {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: #1e1e1e;
}
.title:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -12px;
  background-color: #0078ff;
}

/* Title-box */
.title-box {
  position: relative;
  text-align: center;
}
.title-box:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 5px;
  bottom: -21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #0078ff;
}
.title-box__title {
  margin-bottom: 8px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1e1e1e;
}

/* Nav */
.nav {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
.nav__list-item {
  position: relative;
  padding-right: 10px;
  list-style: none;
}
.nav__list-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #0078ff;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__list-item:hover:before {
  width: 35px;
  opacity: 1;
}
.nav__link {
  display: block;
  padding: 8px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #0078ff;
}

/* Burger */
.burger {
  position: relative;
  padding: 16px 13px;
  cursor: pointer;
}
.burger__item {
  display: block;
  width: 25px;
  height: 3px;
  position: relative;
  background: #1b1b1b;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
.burger__item:before, .burger__item:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.burger__item:before {
  top: 7px;
}
.burger__item:after {
  top: -7px;
}

/* Burger-checkbox */
.burger-checkbox {
  display: none;
}
.burger-checkbox:checked ~ .nav {
  max-height: 500px;
}
.burger-checkbox:checked ~ .burger .burger__item {
  background: transparent;
}
.burger-checkbox:checked ~ .burger .burger__item:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger-checkbox:checked ~ .burger .burger__item:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Progress */
.progress {
  height: 16px;
  overflow: hidden;
  background-color: #cde1f8;
}
.progress__bar {
  width: 100%;
  height: 16px;
  background-color: #0078ff;
}
.progress__bar--80 {
  width: 80%;
}
.progress__bar--90 {
  width: 90%;
}

/* Item-service */
.item-service {
  padding: 40px 21px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.item-service:hover .item-service__icon {
  background-color: #0078ff;
  -webkit-box-shadow: 0 0 0 10px #cde1f8;
  box-shadow: 0 0 0 10px #cde1f8;
}
.item-service:hover .item-service__icon-img {
  color: #fff;
}
.item-service__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 1.55;
  -webkit-box-shadow: 0 0 0 10px #0078ff;
  box-shadow: 0 0 0 10px #0078ff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.item-service__icon-img {
  color: #000;
}
.item-service__title {
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 8px 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #1e1e1e;
  text-transform: uppercase;
}

/* Item-portfolio */
.item-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.item-portfolio:hover .item-portfolio__image {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.item-portfolio__top {
  overflow: hidden;
}
.item-portfolio__image {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.item-portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 32px 3% 16px 4%;
}
.item-portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 -15px;
}
.item-portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}
.item-portfolio__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 14px 15px;
}
.item-portfolio__icon-img {
  float: right;
  color: #0078ff;
  cursor: pointer;
}
.item-portfolio__title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 8px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.2;
  color: #1e1e1e;
}
.item-portfolio__more {
  font-size: 13px;
}
.item-portfolio__category {
  color: #0078ff;
}

/* Input */
.input {
  padding: 20px 15px;
  height: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
  -webkit-box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}

/* Textarea */
.textarea {
  padding: 12px 15px;
  height: auto;
  min-height: 45px;
  resize: vertical;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
  -webkit-box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 24px;
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  border-radius: 80px;
  border: none;
  background: #0078ff;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.button:hover, .button:focus {
  background: #3393ff;
  -webkit-box-shadow: 0 0 0 4px #cde1f8;
  box-shadow: 0 0 0 4px #cde1f8;
}

/* Social */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #0078ff;
  box-shadow: 0 0 0 3px #0078ff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social__item:hover {
  background-color: #0078ff;
  -webkit-box-shadow: 0 0 0 3px #cde1f8;
  box-shadow: 0 0 0 3px #cde1f8;
}
.social__item:hover .social__item-icon {
  color: #fff;
}
.social__item-icon {
  color: #1e1e1e;
  -webkit-transition: fill 0.5s ease-out;
  -o-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

/*
 |--------------------------------------------------------------------------
 |  Sections
 |--------------------------------------------------------------------------
 */
/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 1px;
}
.header__brand {
  display: inline-block;
  padding: 5px 0;
  margin-right: 16px;
  font-size: 25.6px;
  font-weight: 600;
  text-decoration: none;
  color: #0078ff;
}

/* Intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background-image: url("../assets/images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
}
.intro > * {
  z-index: 1;
}
.intro__inner {
  text-align: center;
  line-height: 1.2;
}
.intro__title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 600;
}
.intro__subtitle {
  display: inline-block;
  position: relative;
  margin: 0 auto 16px;
  font-size: 24px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typewriter 6s ease-in-out infinite;
  animation: typewriter 6s ease-in-out infinite;
}
.intro__subtitle:after {
  content: "|";
  position: absolute;
  right: 0;
  opacity: 1;
  -webkit-animation: caret 0.7s infinite;
  animation: caret 0.7s infinite;
}

/* About */
.about {
  padding-top: 64px;
}
.about__inner {
  padding: 64px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.about__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.about__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -15px;
}
.about__photo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 15px;
  margin-bottom: 32px;
}
.about__photo-img {
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  border-radius: 4px;
  vertical-align: middle;
}
.about__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}
.about__info-item {
  margin-bottom: 16px;
}
.about__info-title {
  font-size: 18px;
  font-weight: 600;
  color: #1e1e1e;
}
.about__skill-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #1e1e1e;
}
.about__skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__skill-progress {
  height: 12px;
  margin: 8px 0 20px 0;
}
.about__description {
  padding-top: 24px;
}
.about__description-title {
  margin-bottom: 48px;
}
.about__description-text {
  font-size: 20px;
  font-weight: 300;
}
.about__description-paragraph {
  margin-bottom: 16px;
}

/* Services */
.services {
  margin-top: 96px;
}
.services__title-box {
  margin-bottom: 85px;
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

/* Counter */
.counter {
  position: relative;
  padding: 50px 0;
  background-image: url("../assets/images/counter/counters-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 120, 255, 0.7);
  box-shadow: inset 0 0 0 2000px rgba(0, 120, 255, 0.7);
  color: #fff;
}
.counter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.counter__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 24px 0 20px;
}
.counter__item {
  text-align: center;
}
.counter__number {
  font-size: 32px;
}
.counter__text {
  text-transform: uppercase;
}
.counter__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 16px;
  width: 60px;
  height: 60px;
  line-height: 1.8;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px #cde1f8;
  box-shadow: 0 0 0 10px #cde1f8;
}

/* Portfolio */
.portfolio {
  padding-top: 64px;
}
.portfolio__title-box {
  margin-bottom: 85px;
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 48px;
}

/* Testimonials */
.testimonials {
  padding: 128px 0;
  background-image: url("../assets/images/testimonials/testimonials-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 120, 255, 0.7);
  box-shadow: inset 0 0 0 2000px rgba(0, 120, 255, 0.7);
}
.testimonials__slider {
  position: relative;
  overflow-x: hidden;
}
.testimonials__slider-previous, .testimonials__slider-next {
  display: none;
}
.testimonials__slider-next:checked ~ .testimonials__slider-inner {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.testimonials__slider-next:checked ~ .testimonials__dots :nth-child(1) {
  width: 18px;
  background: #cde1f8;
}
.testimonials__slider-next:checked ~ .testimonials__dots :nth-child(2) {
  width: 25px;
  background-color: #1b1b1b;
}
.testimonials__slider-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.testimonials__slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.testimonials__image {
  margin: 16px auto 0;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.testimonials__name {
  margin: 16px 0;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}
.testimonials__text {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}
.testimonials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  line-height: 1.6;
  background-color: #fff;
}
.testimonials__icon-img {
  color: #0078ff;
}
.testimonials__dots {
  margin-top: 18px;
  text-align: center;
}
.testimonials__dot {
  display: inline-block;
  margin: 5px 2.5px;
  height: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.testimonials__dot:nth-child(1) {
  width: 25px;
  background-color: #1b1b1b;
}
.testimonials__dot:nth-child(2) {
  width: 18px;
  background-color: #cde1f8;
}

/* Contact */
.contact {
  padding-top: 64px;
}
.contact__inner {
  margin-bottom: 48px;
  padding: 48px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -15px;
}
.contact__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}
.contact__title {
  margin-bottom: 48px;
}
.contact__input {
  width: 100%;
  margin-bottom: 32px;
}
.contact__textarea {
  width: 100%;
}
.contact__info {
  padding-top: 24px;
}
.contact__text {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}
.contact__button {
  display: block;
  margin: 28px auto 0;
}
.contact__list {
  line-height: 2;
}
.contact__list-item {
  list-style: none;
}
.contact__list-item:first-child {
  text-transform: uppercase;
}
.contact__list-icon {
  color: #0078ff;
}

/* Footer */
.footer {
  padding: 25px 0;
  color: #fff;
  text-align: center;
  background: #0062d3;
}
.footer__copyright {
  margin-bottom: 5px;
}

/*
 |--------------------------------------------------------------------------
 |  Animation
 |--------------------------------------------------------------------------
 */
@-webkit-keyframes hide {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes hide {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 7em;
  }
}
@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 7em;
  }
}
@-webkit-keyframes caret {
  50% {
    opacity: 0;
  }
}
@keyframes caret {
  50% {
    opacity: 0;
  }
}

/*
 |--------------------------------------------------------------------------
 |  Media Queries
 |--------------------------------------------------------------------------
 */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .item-portfolio__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
  }
  .item-portfolio__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
  }

  .header__container {
    padding: 0;
  }
  .header__inner {
    padding: 15px 0;
  }

  .about__bio {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .about__photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .about__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .counter {
    padding: 80px 0;
  }
  .counter__row {
    margin: 0 -15px;
  }
  .counter__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    margin-bottom: 30px;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .nav {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-height: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__list-item {
    padding-left: 10px;
  }
  .nav__list-item:before {
    margin-left: 18px;
  }
  .nav__link {
    padding: 8px;
  }

  .burger {
    display: none;
  }

  .header__inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 15px;
  }

  .intro__title {
    font-size: 72px;
  }
  .intro__subtitle {
    font-size: 40px;
  }

  .about__inner {
    padding: 64px 48px;
  }
  .about__row {
    margin: 0 -15px;
  }
  .about__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 15px;
  }
  .about__photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66%;
    flex: 0 0 41.66%;
  }
  .about__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33%;
    flex: 0 0 58.33%;
  }
  .about__description {
    padding-top: 0;
  }

  .services__row {
    margin: 0 -15px;
  }
  .services__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
  }

  .counter {
    padding: 128px 0;
  }

  .portfolio__row {
    margin: 0 -15px;
  }
  .portfolio__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
  }

  .testimonials__text {
    padding: 0 80px;
  }

  .contact__inner {
    padding: 48px;
  }
  .contact__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .contact__info {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .testimonials__text {
    padding: 0 128px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .testimonials__text {
    padding: 0 208px;
  }
}
@media (min-width: 1025px) {
  .intro, .counter, .testimonials {
    background-attachment: fixed;
  }
}