@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin pseudo($width: 100%, $height: $width, $display: inline-block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}