$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$white: #fff;
$black: #000;
$cod-gray: #1e1e1e;
$nero: #1b1b1b;
$azure: #0078ff;
$tropical-blue: #cde1f8;

$color-trout: #495057;
